<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="probeginners.whattodo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewList" />
        <activity
            android:name=".NewTaskActivity"
            android:parentActivityName=".Navigation" />
        <activity
            android:name=".TaskDetailsActivity"
            android:parentActivityName=".NewTaskActivity"></activity>

        <receiver android:name=".AlarmReciever" />

        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme"
            >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="navigation.Favourite" />
        <activity android:name="navigation.Inbox" />
        <activity android:name="navigation.InboxTask" />
        <activity
            android:name="navigation.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="navigation.FeedbackActivity" />
        <activity android:name=".Help"></activity>
    </application>

</manifest>